__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/work/
build/linux/arbeit/
build_deb/
build_appimage/
*.deb
*.AppImage
*.exe
*.msi
.env
*.log
cache/
.cache/
~/.cache/smartrolay/
~/.cache/smartrplay/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# Projektumgebung, wird mit neuerstellen aufgebaut
.venv/
__pycache__/
*.pyc
*.bak.*
*.bak.*
android_webview/app/build/
